.tasks-container {
  overflow: auto;
  margin-left: 30px;
  margin-top: 20px;
}
.add-task-form-container {
  margin-bottom: 18px;
  input {
    margin-right: 8px;
    width: 80% //TODO: fix this later
  }
}
.add-task-input-container {
  display: grid;
  grid-template-columns: 1fr 134px;
  gap: 8px;
  input {
    width: 100%;
  }
}
.task-card-container {
  margin-bottom: 12px;
}
.detail-panel-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(51, 51,51, 0.8);
}
.panel-container {
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 1000;
  background: white;
}
.panel-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
