.container {
  display: grid;
  grid-template-columns: 22px 1fr 22px;
  grid-template-rows: 28px 24px;
  border: solid #F2F2F2;
  border-radius: 8px;
  padding: 12px;
}
.delete-button {
  margin-left: auto;
}
.title {
  margin-left: 8px;
  padding-top: 2px;
}
.material-symbols-outlined {
 font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 24
}
.priority-red {
  background: red;
  color: white;
}
.priority-orange {
  background: orange;
}
.priority-light-blue {
  background: lightblue;
  color: blue;
}
.priority-blue {
  background: blue;
  color: white;
}
.completed-task {
  background: lightslategray;
  color: white;
}
.tag-container {
  grid-column: 2/3;
  grid-row: 2/3;

}
.tag-item {
  width: fit-content;
  margin: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 30px;
  font-size: 14px;
}
.title-container {
  padding-top: 2px;
}

.clickable {
  cursor: pointer;
}

