
<div class="container "[ngClass]="this.task.status == 'Completed' ? 'completed-task': ''">
  <div>
    <span class="material-symbols-outlined" (click)="onTaskChecked($event)">{{icon}}</span>
  </div>
  <div class="title-container">
    <span class="title">{{task.title}}</span>
<!--    <span> [priority: {{task.priority}} ]</span>-->
  </div>
  <div class="delete-button">
    <span class="material-symbols-outlined" (click)="removeTask()">delete</span>
  </div>
  <div class="tag-container">
    <div>
      <div class="tag-item" [ngClass]="getClass()">{{task.priority}}</div>
    </div>
  </div>

</div>
