.add-task-form-container {
  margin-bottom: 18px;
  input {
    margin-right: 8px;
    width: 80% //TODO: fix this later
  }
}
.close-button-container {
  border: solid 1px red;
  margin-bottom: 64px;
}
.close-span-container {
  float: right;
}
.container {
  display: grid;
  grid-template-rows: 42px 1fr 28px;
  height: 100vh;
  background: black;
}
.detail-panel-sections {
  border: solid 1px red;
  margin-bottom: 24px;
}
.detail-panel-container {
  overflow: auto;
  margin-top: 20px;
  margin-right: 14px;
  height: 90vh;
  //background: snow;
  background: wheat;
  border-radius: 14px;
  padding: 14px;
  padding-left: 56px;
  padding-right: 56px;
}
.detail-panel-task-title {
  border: solid 1px red;
  margin-bottom: 24px;
  font-size: 32px;
}
.task-card-container {
  margin-bottom: 12px;
}
.tasks-container {
  overflow: auto;
  //height: 100vh;
  margin-left: 30px;
  padding: 20px  //TODO: remove this later
}

.title {
  text-align: center;
  font-size: 22px;
  margin-top: 8px;
  color: white;
}

.product-selection-container {
  left: 0;
  height: 100vh;
  color: white;
  .products {
    margin-top: 620px;
  }
}

.content-container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 512px;
  border-radius: 12px 0 0 12px;
  background: white;
}
.product-menu {
  background: lightblue;
  border-radius: 12px 0 0 12px;
}
.title-container {
  grid-column: 2/3;
}
.task-schedule {
  background: pink;
}



