.container {
  display: grid;
  grid-template-rows: 64px 1fr 28px;
  height: 100vh;
  background: black;
}

.title-container {
  display: flex;
  align-items: center;
  grid-column: 1/3;
  .title {
    font-size: 32px;
    margin: 12px 50px;
    color: white;
  }
}

.add-task-form-container {
  margin-bottom: 18px;
  input {
    margin-right: 8px;
    width: 80% //TODO: fix this later
  }
}
.close-button-container {
  border: solid 1px red;
  margin-bottom: 64px;
}
.close-span-container {
  float: right;
}

.detail-panel-sections {
  border: solid 1px red;
  margin-bottom: 24px;
}
.detail-panel-task-title {
  border: solid 1px red;
  margin-bottom: 24px;
  font-size: 32px;
}
.task-card-container {
  margin-bottom: 12px;
}
.tasks-container {
  overflow: auto;
  //height: 100vh;
  margin-left: 30px;
  padding: 20px  //TODO: remove this later
}

.product-selection-container {
  left: 0;
  height: 100vh;
  color: white;
  .products {
    margin-top: 620px;
  }
}

.content-container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  //border-radius: 12px 0 0 12px;
  background: white;
}
.product-menu {
  background: lightblue;
  border-radius: 12px 0 0 12px;
}

.task-schedule {
  background: pink;
}

.panel-container {
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 1000;
  background: white;
}
.panel-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;

}
.detail-panel-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(51, 51,51, 0.8);
}



