<div class="container">
<!--  <div class="product-selection-container">-->
<!--    <div class="products">-->
<!--      <div>-->
<!--        <span>Goals</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <span>Planner</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <span>Tasks</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <span>Calendar</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <span>Habit</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="title-container">
<!--    <div>-->
<!--      <span class="material-symbols-outlined hide-products">switch_left</span>-->
<!--    </div>-->
    <h1 class="title">EESE</h1>
  </div>
  <div class="content-container">
    <div class="tasks-container">
      <div class="task-input-container">
        <div class="add-task-form-container">
          <form (submit)="addTask()">
            <input pInputText type="text" placeholder="What's next?" name="newTask" [(ngModel)]="newTask" />
            <p-button type="submit">
              <span class="material-symbols-outlined">add</span>Add task</p-button>
          </form>
        </div>

      </div >
      <div class="task-card-container" *ngFor="let task of tasks">
        <task-card
          [task]="task"
          (triggerDetailPanel)="showDetails(task)">
          <h1>Task card</h1>
        </task-card>
      </div>
    </div>
  </div>

<div class="detail-panel-container" *ngIf="detailSidebarVisible">
  <div class="panel-container">
    <app-detail-panel
      [task]="selectedTask">
    </app-detail-panel>
  </div>
  <div class="panel-overlay" (click)="hideDetails()">

  </div>
</div>


<!--  <div class="detail-panel-container" *ngIf="detailSidebarVisible">-->
<!--    <div class="close-button-container">-->
<!--      <div class="close-span-container">-->
<!--        <span class="material-symbols-outlined" (click)="hideDetails()">Close</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="detail-panel-container2">-->
<!--      <app-detail-panel-->
<!--        [task]="selectedTask">-->
<!--      </app-detail-panel>-->
<!--    </div>-->
<!--  </div>-->
</div>
<router-outlet />
