<div class="container">
  <div class="title-container">
    <h1 class="title">Eese</h1>
  </div>
  <div class="product-menu">
    <div class="product-item">Tasks</div>
    <div class="product-item">Calendar</div>
  </div>

  <div class="content-container">
    <router-outlet />
  </div>
<!--  <div class="detail-panel-container" *ngIf="detailSidebarVisible">-->
<!--    <div class="close-button-container">-->
<!--      <div class="close-span-container">-->
<!--        <span class="material-symbols-outlined" (click)="hideDetails()">Close</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="detail-panel-container2">-->
<!--      <app-detail-panel-->
<!--        [task]="selectedTask">-->
<!--      </app-detail-panel>-->
<!--    </div>-->
<!--  </div>-->
</div>

